{% extends 'base.html' %}
{% block conteudo %}

<!-- Conteúdo da Página -->
<div class="container mt-5">
    <h1>Blog - Desenvolvimento Web</h1>
    
    <!-- Post 1 -->
    <div class="card mb-4" style="width: 500px;">
        <img src="../static/imagens/web_dev.png" height="205" class="card-img-top" alt="Imagem do Post 1">
        <div class="card-body">
            <h2 class="card-title">10 Princípios Básicos para o Desenvolvimento Web</h2>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit justo nec turpis
                bibendum, ut vehicula eros consequat. Quisque ac urna non nisl tempus dictum at non libero.
            </p>
            <a href="#" class="btn btn-primary">Leia Mais</a>
        </div>
    </div>
    
    <!-- Post 2 -->
    <div class="card mb-4" style="width: 500px;">
        <img src="../static/imagens/web_dev.png" height="205" class="card-img-top" alt="Imagem do Post 2">
        <div class="card-body">
            <h2 class="card-title">Práticas Avançadas de CSS para Design Responsivo</h2>
            <p class="card-text">
                In et convallis ante, ac congue sapien. Nulla vitae nisl ut nulla malesuada laoreet.
                Sed efficitur quam et nisl finibus, sed tempor nunc tristique.
            </p>
            <a href="#" class="btn btn-primary">Leia Mais</a>
        </div>
    </div>
    
    <!-- Post 3 -->
    <div class="card mb-4" style="width: 500px;">
        <img src="../static/imagens/web_dev.png" height="205" class="card-img-top" alt="Imagem do Post 3">
        <div class="card-body">
            <h2 class="card-title">As Melhores Práticas para Otimização de Sites</h2>
            <p class="card-text">
                Curabitur et felis in nunc pharetra convallis. Fusce id purus at justo euismod ultricies.
                Sed vitae tellus vel odio vulputate tincidunt eu sit amet sapien.
            </p>
            <a href="#" class="btn btn-primary">Leia Mais</a>
        </div>
    </div>
</div>

{% endblock %}